html{overflow-y:scroll;}
body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:black; text-align: center;}



a{outline:none; text-decoration:none;}

.fl_left{float:left;}




div.wrapper{display:block; width:100%; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:20px; font-weight:normal; line-height:normal;}
.row1{height: 150px; color:#5F8EC2; background-color:#03274B;}
.row1 a{color:#F8F9F3; background-color:#03274B;}
.row2{color:#F8F9F3; background-color:#072C53; border-top:1px solid #2B4D71; border-bottom:1px solid #2B4D71;}

#header{padding:25px 0 30px 0;}
#header h1, #header p, #header ul{margin:0; padding:0; list-style:none; line-height:normal;}
#header h1{font-size:36px; font-variant:small-caps;}
#header p{margin-top:4px;}

.menuBar {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	background-color: #66CCFF;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #555555;
	word-spacing: 10px;
	padding: 10px;
}

.menuBar a{color: #000000;text-decoration: none;}
.menuBar a:hover{background-color: #FFFFFF;padding: 10px;}


/* ----------------------------------------------Search Form------------------------------------- */

#login{float:right; width:380px; margin:8px 0 0 0; padding:0;}
#login div{float:left; margin:8px 0 0 10px; font-size:11px; text-transform:uppercase;}
#login input{display:block; float:right; width:165px; height:20px; margin:0 0 10px 10px; padding:0 5px 0 10px; color:#5F8EC2;  border:none;}
#login input#signin{width:80px; height:20px; margin:0; padding:0; cursor:pointer; background:none; float:right;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */


.whiteSpace {height: 20px;}

#map{
	height: 300px;
    width: 50%;
	margin: 0 auto 0 auto;
}

#barchart_drink{
	display: block;
	margin: 0 auto;
}

#barchart_meal{
	display: block;
	margin: 0 auto;
}

#piechart_type{
	display: block;
	margin: 0 auto;
}
